# 本地开发环境
name: gim

services:
  mysql:
    container_name: mysql
    restart: always
    image: mysql:8.0.43
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      ENV: compose
    volumes:
      - /etc/localtime:/etc/localtime
      - /Users/alber/data/mysql:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
      - ../../sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  redis:
    container_name: redis
    restart: always
    image: redis:7.4.2
    volumes:
      - /etc/localtime:/etc/localtime
      - ./redis.conf:/etc/redis.conf
      - /Users/alber/data/redis:/data
    command:
      redis-server /etc/redis.conf
    ports:
      - "6379:6379"
    environment:
      ENV: compose

  connect:
    container_name: connect
    restart: always
    image: connect:20251222.233641
    volumes:
      - /etc/localtime:/etc/localtime
      - /Users/alber/data/log/connect:/data/log/connect
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    environment:
      ENV: compose

    depends_on:
      mysql:
        condition: service_started
      redis:
        condition: service_started

  logic:
    container_name: logic
    restart: always
    image: logic:20251222.233648
    volumes:
      - /etc/localtime:/etc/localtime
      - /Users/alber/data/log/logic:/data/log/logic
    ports:
      - "8010:8000"
    environment:
      ENV: compose
    depends_on:
      mysql:
        condition: service_started
      redis:
        condition: service_started

  business:
    container_name: business
    restart: always
    image: business:20251222.233651
    volumes:
      - /etc/localtime:/etc/localtime
      - /Users/alber/data/log/user:/data/log/user
    ports:
      - "8020:8000"
    environment:
      ENV: compose
    depends_on:
      mysql:
        condition: service_started
      redis:
        condition: service_started

  file:
    container_name: file
    restart: always
    image: file:20251222.233654
    volumes:
      - /etc/localtime:/etc/localtime
      - /Users/alber/data/file:/data/file
      - /Users/alber/data/log/file:/data/log/file
    ports:
      - "8031:8001"
    environment:
      ENV: compose
    depends_on:
      mysql:
        condition: service_started
      redis:
        condition: service_started